*{
  margin: 0;
  padding: 0;
}
.header{
  width: 100%;
  background-color: white;
}
/* Button{
  font-weight:bolder;
} */
.button{
  border-radius: 30px !important;
}
.search-bg{
  background-color: white;
}
#dropdown-basic{
  margin: 0 30px;
}
.margin{
  margin: 0 50px;
}
.logos{
  margin: 0 10px;
}
.underline{
  text-decoration: none;
}